* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.slides {
    display: none
}

img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.2);
}

.img_btn {
    text-align: center;
    font-size: 0;
}

button {
    border: none;
    font-family: "Itim", cursive;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin: 0 2px;
    background-color: whitesmoke;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.pause_play {
    background-color: white;
    font-family: 'New Tegomin', serif;
}

.active, .button:hover {
    background-color: rgba(0,0,0,0.3);
}

.pause_play:hover {
    background-color: white;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}