.container {
    max-width: 1000px;
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    font-family: "Itim", cursive;
}

.prevNext {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 3px 3px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
    padding: 15px 10px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.4);
}

.prevNext.pause {
    top: 100%;
    height: auto;
    justify-content: center;
}

.ctrlBtn {
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin: 10px 2px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
